h2 {
    border: 1mm;
    color: blue;
}

h3{
    color: gray;
}
.button{
    width: 200px;
    height: 30px;
    background-color: blue;
    color: aliceblue;
}
.forms{
    align-self: center;
    height: auto;
    width: 50%;
    display: grid;
    box-sizing: border-box;
    border: 20px solid blue;
   padding: 25mm;
   
}
